/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif; /* Default body font */
  background-color: var(--off-white);
}

/* Headings default font */
h1,
h2,
h3,
h4,
h5,
h6,
.navbar .logo {
  font-family: "Sora", sans-serif;
}

/* Variables */
:root {
  --purple: #6a2e78;
  --red: #d72c41;
  --dark-grey: #353941;
  --grey: #e5e1e6;
  --off-white: #f9f8f4;
  --off-white-t: rgba(249, 248, 244, 0.8);
  --grey-background: #d3d3cd;
  --white: #fcfcfb;
}

/* //////////////////////////////////// */
/* Agents Page Styles */
/* //////////////////////////////////// */

.agents-section {
  max-width: 1200px;
  margin: 200px auto 50px auto;
  padding: 20px;
  text-align: center;
}

.agents-section h2 {
  font-family: "Sora", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--dark-grey);
}

.agents-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.agent-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.agent-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.agent-photo {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.agent-card h3 {
  font-family: "Sora", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--dark-grey);
}

.agent-card p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--dark-grey);
  margin-bottom: 10px;
}

.contact-agent-btn {
  background-color: var(--purple);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-agent-btn:hover {
  background-color: var(--red);
}
