/* Variables */
:root {
    --purple: #6a2e78;
    --red: #d72c41;
    --dark-grey: #353941;
    --grey: #e5e1e6;
    --off-white: #f9f8f4;
    --off-white-t: rgba(249, 248, 244, 0.8);
    --grey-background: #d3d3cd;
    --white: #fcfcfb;
}  

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 50px auto 0 auto;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    border-radius: 3px !important;
    width: 100%;
    height: 500px;
    object-fit: cover;
    outline: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 57%;
    transform: translateY(-50%); 
    width: 30px; 
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease, height 0.3s ease;
    border-radius: 3px;
    user-select: none;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
  
.next {
    right: 0px;
    border-radius: 3px;
}
  
.prev {
    left: 0px;
    border-radius: 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    height: 502px; 
}

.dot-container {
    position: absolute;
    /* bottom: 20px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: rgb(255, 255, 255);
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.property-details1 {
    background-color: #fff;
    width: 800px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--dark-grey);
}

.property-details2 {
    background-color: #fff;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.property-details2 span {
    font-size: 16px;
    color: #555;
}

.property-details2 i {
    align-items: center;
}

.property_info {
    background-color: #fff;
    width: 800px;
    margin-top: 20px;
    font-size: 18px;
    color: var(--dark-grey);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.property-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px 0 -100px 0;
}

.prop-paragraph {
    margin-bottom: 20px;
    text-align: left;
}

.available_rooms p {
    text-align: left;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.view-all-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 12px 24px;
    background-color: var(--purple);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.view-all-btn:hover {
    background-color: var(--red);
}

.our-agents {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background-color: var(--off-white);
}

.agents {
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.agent-card {
    width: 220px;
    text-align: center;
}
  
.agent-card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
  
.agent-card:hover img {
    transform: scale(1.1);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}