/* Login Page Styles */

/* Variables */
:root {
  --purple: #6a2e78;
  --red: #d72c41;
  --dark-grey: #353941;
  --grey: #e5e1e6;
  --off-white: #f9f8f4;
  --off-white-t: rgba(249, 248, 244, 0.8);
  --grey-background: #d3d3cd;
  --white: #fcfcfb;
}

body {
  background-color: var(--off-white);
}

.main-logo {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.login-section {
  max-width: 500px;
  margin: 80px auto 80px auto;
  padding: 20px;
  background-color: var(--off-white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #ccc;
}

.login-section h2 {
  font-family: "Sora", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.login-form,
.signup-form {
  
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #666;
}

p a {
  color: #4caf50;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}