/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif; /* Default body font */
  background-color: var(--off-white);
}

/* Headings default font */
h1,
h2,
h3,
h4,
h5,
h6,
.navbar .logo {
  font-family: "Sora", sans-serif;
}

/* Variables */
:root {
  --purple: #6a2e78;
  --red: #d72c41;
  --dark-grey: #353941;
  --grey: #e5e1e6;
  --off-white: #f9f8f4;
  --off-white-t: rgba(249, 248, 244, 0.8);
  --grey-background: #d3d3cd;
  --white: #fcfcfb;
}

/* //////////////////////////////////// */
/* Sell Page Styles */
/* //////////////////////////////////// */

.sell-property {
  max-width: 800px;
  margin: 200px auto 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.sell-property h2 {
  font-family: "Sora", sans-serif;
  text-align: center;
  margin-bottom: 40px;
  color: var(--dark-grey);
  font-size: 36px;
}

.form-section {
  margin-bottom: 30px;
}

.form-section h3 {
  font-family: "Sora", sans-serif;
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: var(--dark-grey);
}

.form-section label {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-bottom: 8px;
  color: var(--dark-grey);
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="tel"],
.form-section input[type="number"],
.form-section textarea,
.form-section select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--dark-grey);
}

.form-section input[type="checkbox"] {
  margin-right: 10px;
}

.form-section input[type="file"] {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Sora", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--purple);
}
